[submodule "/Users/francescobruno/Documents/GitHub/Musikverein-Muenster/src/components/databaseMusiconn"]
	path = /Users/francescobruno/Documents/GitHub/Musikverein-Muenster/src/components/databaseMusiconn
	url = https://github.com/FrancescoBrunoDev/DatabaseMusiconn.git
