services:
  app:
    image: node:latest
    restart: unless-stopped
    working_dir: /usr/src/app
    environment:
      - PORT=3000
      # PocketBase configuration
      - POKETBASE={{project.POKETBASE}}
      - ADMIN_EMAIL={{project.ADMIN_EMAIL}}
      - ADMIN_PASSWORD={{project.ADMIN_PASSWORD}}
      # MinIO configuration
      - MINIO_ENDPOINT={{project.MINIO_ENDPOINT}}
      - MINIO_PORT={{project.MINIO_PORT}}
      - MINIO_ACCESS_KEY={{project.MINIO_ACCESS_KEY}}
      - MINIO_SECRET_KEY={{project.MINIO_SECRET_KEY}}
      - MINIO_USE_SSL={{project.MINIO_USE_SSL}}
      - MINIO_BUCKET_NAME={{project.MINIO_BUCKET_NAME}}
      - PROTOMAP_V={{project.PROTOMAP_V}}
    volumes:
      - .:/usr/src/app
      - node_modules:/usr/src/app/node_modules
    command: >
      sh -c "
      git config --global --add safe.directory /usr/src/app &&
      git config --global --add safe.directory /usr/src/app/src/components/databaseMusiconn &&
      npm install &&
      npm run build &&
      NODE_ENV=production npm start
      "
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 90s

volumes:
  node_modules:
