@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--text: 0, 36%, 5%;
		--background: 300, 6%, 93%;
		--primary: 30, 90%, 43%;
		--secondary: 0, 4%, 85%;
		--accent: 0, 51%, 46%;
		--destructive: 0 84.2% 60.2%;
		--border: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0.25rem;
	}

	.dark {
		--text: 0, 36%, 95%;
		--background: 300, 6%, 7%;
		--primary: 30, 90%, 57%;
		--secondary: 0, 4%, 15%;
		--accent: 0, 51%, 54%;
		--destructive: 0 62.8% 30.6%;
		--border: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--radius: 0.25rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		transition:
			background-color 0.2s ease-in-out,
			color 0.2s ease-in-out;
		@apply text-text bg-background text-base;
		font-feature-settings:
			'rlig' 1,
			'calt' 1;
	}
}
